* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo general */
html, body {
  width: 100%;
  height: 100%;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #fbfbfb, #152642);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
}

.card {
  background: #fbfbfb;
  max-width: 600px;
  max-height: 500px;
  height: 100%;
  width: 100%;
  padding: 30px;
  border-radius: 16px;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

h1 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #2c3e50;
}

h2 {
  font-size: 18px;
  margin-top: 10px;
   margin-bottom: 15px;
  color: #2c3e50;;
}

button {
  display: block;
  margin: 0 auto 15px auto;
  background: linear-gradient(135deg, #000000, #152642);
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(36, 42, 48, 0.4);
}

.integrantes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.integrante {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #000000, #152642);
  padding: 10px;
  border-radius: 14px;
  text-align: center;
  font-weight: 600;
  color: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  gap: 8px; 
}

.integrante:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.18);
}

.img-perfil{
  width: 40px;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  background: #fff;
  padding: 25px;
  border-radius: 16px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

.redes {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.redes a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 10px;
  background: linear-gradient(135deg, #000000, #152642);
  transition: all 0.3s ease;
}

.redes a:hover {
  background: linear-gradient(135deg, #ffffff, #152642);
  color: #000000;
}

#modalLenguajes h4 {
  margin-top: 10px;
  color: #0c0e10;
}

#modalLenguajes ul {
  list-style:none;
  padding-left: 30px;
  padding-right: 30px;
}

#modalLenguajes li {
  background: linear-gradient(135deg, #021c39, #152642);
  color: white;
  margin: 5px 0;
  padding: 6px;
  border-radius: 8px;
  font-size: 14px;
}

.close {
  position: absolute;
  right: 350px;
  top: 20px;
  font-size: 40px;
  cursor: pointer;
  color: #ffffff;
}
